<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ch.sebastianwidmer.SmartAccess</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/sebastianwidmer/workspace/smart-access/smart-access</string>
		<string>/Users/sebastianwidmer/workspace/smart-access/domain_jumphost_mapping.json</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/sebastianwidmer/Library/Logs/ch.sebastianwidmer.SmartAccess.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/sebastianwidmer/Library/Logs/ch.sebastianwidmer.SmartAccess.err.log</string>
	<key>ProcessType</key>
	<string>Interactive</string>
</dict>
</plist>
